<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AttendanceMapper">

    <!-- 출장 등록 -->
    <insert id="insertBusinessTrip">
        INSERT INTO BUSINESS_TRIP
        (
            NO
            , MEMBER_NO
            , START_DATE
            , END_DATE
            , MEMO
        )
        VALUES
        (
            SEQ_BUSINESS_TRIP_NO.NEXTVAL
            , #{memberNo}
            , #{startDate}
            , #{endDate}
            , #{memo}
        )
    </insert>

    <!-- 외근 등록 -->
    <insert id="insertOutsideWork">
        INSERT INTO OUTSIDE_WORK
        (
        NO
        , MEMBER_NO
        , START_TIME
        , END_TIME
        <trim prefixOverrides=",">
            <if test=" onsiteStart != null and onsiteStart != '' ">
                ONSITE_START
            </if>
            <if test=" onsiteEnd != null and onsiteEnd != '' ">
                , ONSITE_END
            </if>
        </trim>
        )
        VALUES
        (
        SEQ_OUTSIDE_WORK_NO.NEXTVAL
        , #{memberNo}
        , #{startTime}
        , #{endTime}
        <trim prefixOverrides=",">
            <if test=" onsiteStart != null and onsiteStart != '' ">
                #{onsiteStart}
            </if>
            <if test=" onsiteEnd != null and onsiteEnd != '' ">
                , #{onsiteEnd}
            </if>
        </trim>
        )
    </insert>

    <!-- 휴가 등록 -->
    <insert id="insertVacation">
        INSERT INTO VACATION
        (
        NO
        , MEMBER_NO
        , START_DATE
        , END_DATE
        , USED_DAYS
        , HALF_DAY_TYPE
        )
        VALUES
        (
        SEQ_VACATION_NO.NEXTVAL
        , #{memberNo}
        , #{startDate}
        , #{endDate}
        , #{usedDays}
        , #{halfDayType}
        )
    </insert>

    <!-- 출장 리스트 -->
    <select id="getBusinessTripList" resultType="BusinessTripVo">
        SELECT
        NO
        ,MEMBER_NO
        ,START_DATE
        ,END_DATE
        ,MEMO
        FROM BUSINESS_TRIP
        WHERE MEMBER_NO = #{no}
    </select>

    <!-- 외근 리스트 -->
    <select id="getOutsideWorkList" resultType="OutsideWorkVo">
        SELECT
        NO
        , MEMBER_NO
        , START_TIME
        , END_TIME
        , ONSITE_START
        , ONSITE_END
        FROM OUTSIDE_WORK
        WHERE MEMBER_NO = #{no}
    </select>

    <!-- 휴가 리스트 -->
    <select id="getVacationList" resultType="VacationVo">
        SELECT
        NO
        ,MEMBER_NO
        ,START_DATE
        ,END_DATE
        ,USED_DAYS
        ,HALF_DAY_TYPE
        FROM VACATION
        WHERE MEMBER_NO = #{no}
    </select>
</mapper>