<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BookMapper">

<!-- 예약 -->
	<insert id="insert">
		INSERT INTO BOOK(
		    BOOK_NO
		    , MEMBER_NO
		    , BOOK_PLACE
		    , START_DATE
		    , END_DATE
		    , BOOK_PURPOSE
		    )
		VALUES(
		    SEQ_BOOK_NO.NEXTVAL
		    , #{memberNo}
		    , #{bookPlace}
		    , #{startDate}
		    , #{endDate}
		    , #{bookPurpose}
			)
	</insert>
	
<!-- 	전체 조회 	//처음 페이지 렌더링 시 모든 데이터 조회	 -->
	<select id="list" resultType="com.groupworks.app.book.vo.BookVo">
		SELECT
		    B.BOOK_NO
		    , B.MEMBER_NO
            , M.NAME as memberName
		    , B.BOOK_PLACE
		    , TO_CHAR(B.START_DATE, 'YYYY-MM-DD HH24:MI') AS START_DATE
		    , TO_CHAR(B.END_DATE, 'YYYY-MM-DD HH24:MI') AS END_DATE
		    , B.BOOK_PURPOSE
		    , TO_CHAR(B.BOOK_DATE, 'YYYY-MM-DD HH24:MI') AS BOOK_DATE
		    , TO_CHAR(B.UPDATE_DATE, 'YYYY-MM-DD HH24:MI') AS UPDATE_DATE
		    , TO_CHAR(B.CANCEL_DATE, 'YYYY-MM-DD HH24:MI') AS CANCEL_DATE
		FROM BOOK B
        JOIN MEMBER M ON B.MEMBER_NO = M.NO
		WHERE CANCEL_DATE IS NULL
		ORDER BY BOOK_NO DESC
	</select>
	
<!-- 	날짜 입력 후 조건에 맞는 데이터 조회 -->
<select id="listByDateRange" resultType="com.groupworks.app.book.vo.BookVo">
    <choose>
        <when test="startDate != null and endDate != null">
            SELECT
                B.BOOK_NO
                , B.MEMBER_NO
                , M.NAME as memberName
                , B.BOOK_PLACE
                , TO_CHAR(B.START_DATE, 'YYYY-MM-DD HH24:MI') AS START_DATE
                , TO_CHAR(B.END_DATE, 'YYYY-MM-DD HH24:MI') AS END_DATE
                , B.BOOK_PURPOSE
                , TO_CHAR(B.BOOK_DATE, 'YYYY-MM-DD HH24:MI') AS BOOK_DATE
                , TO_CHAR(B.UPDATE_DATE, 'YYYY-MM-DD HH24:MI') AS UPDATE_DATE
                , TO_CHAR(B.CANCEL_DATE, 'YYYY-MM-DD HH24:MI') AS CANCEL_DATE
		    FROM BOOK B
		    JOIN MEMBER M ON B.MEMBER_NO = M.NO
		    WHERE CANCEL_DATE IS NULL
		    <if test="startDate != null and endDate != null">
		        AND B.START_DATE &gt;= #{startDate}
		        AND B.END_DATE &lt;= #{endDate}
		    </if>
		    <if test="memberName != null and memberName != ''">
		        AND M.NAME LIKE '%' || #{memberName} || '%' -- 예약자명으로 필터링
		    </if>
            ORDER BY B.BOOK_NO DESC
        </when>

        <otherwise>
            SELECT
                B.BOOK_NO
                , B.MEMBER_NO
                , M.NAME as memberName
                , B.BOOK_PLACE
                , TO_CHAR(B.START_DATE, 'YYYY-MM-DD HH24:MI') AS START_DATE
                , TO_CHAR(B.END_DATE, 'YYYY-MM-DD HH24:MI') AS END_DATE
                , B.BOOK_PURPOSE
                , TO_CHAR(B.BOOK_DATE, 'YYYY-MM-DD HH24:MI') AS BOOK_DATE
                , TO_CHAR(B.UPDATE_DATE, 'YYYY-MM-DD HH24:MI') AS UPDATE_DATE
                , TO_CHAR(B.CANCEL_DATE, 'YYYY-MM-DD HH24:MI') AS CANCEL_DATE
            FROM BOOK B
            JOIN MEMBER M ON B.MEMBER_NO = M.NO
            WHERE B.CANCEL_DATE IS NULL
            ORDER BY B.BOOK_NO DESC
        </otherwise>
    </choose>
</select>





<!-- 상세 조회 -->
	<select id="detail" resultType="com.groupworks.app.book.vo.BookVo">
		SELECT
		    BOOK_NO
		    , MEMBER_NO
		    , BOOK_PLACE
		    , START_DATE
		    , END_DATE
		    , BOOK_PURPOSE
		    , BOOK_DATE
		    , UPDATE_DATE
		    , CANCEL_DATE
		FROM BOOK
		WHERE BOOK_NO = #{bookNo}
<!-- 		AND CANCEL_DATE = NULL -->
	</select>

<!-- 수정 -->
	<update id="edit">
	    UPDATE BOOK
	        SET
	        <trim prefixOverrides=",">
            <if test="bookPlace != null and bookPlace != ''">
                BOOK_PLACE = #{bookPlace},
            </if>
            <if test="startDate != null">
                START_DATE = #{startDate, jdbcType=TIMESTAMP},
            </if>
            <if test="endDate != null">
                END_DATE = #{endDate, jdbcType=TIMESTAMP},
            </if>
            <if test="bookPurpose != null and bookPurpose != ''">
                BOOK_PURPOSE = #{bookPurpose}
            </if>
	        </trim>
        , UPDATE_DATE = SYSDATE
	    WHERE BOOK_NO = #{bookNo}
	</update>



<!-- 삭제 -->
	<update id="delete">
		UPDATE BOOK
		    SET
		        CANCEL_DATE = SYSDATE
		WHERE BOOK_NO = #{bookNo}
	</update>
	
</mapper>

















