<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BusinessTripFormMapper">
   
   
   <select id="member" resultType="com.groupworks.app.member.vo.MemberVo">
		SELECT
			M.NO
			,M.NAME			AS NAME
			,M.AUTH_NO
			,M.COMPANY_NO
			,A.NAME			AS AUTHORITY_NAME
		FROM MEMBER M
		JOIN AUTHORITY A ON A.NO = M.AUTH_NO
		WHERE M.COMPANY_NO = #{companyNo}
		AND M.AUTH_NO != 3
	</select>
	
	<!-- 승인자로 선택된 출장신청서 리스트 조회 --> 
	<select id="applyList" resultType="BusinessTripFormVo">
		SELECT 
	        NO
	        , VACATION_NO
	        , CONTENT
	        , WRITE_DATE
	        , CATEGORY
	    FROM BUSINESS_TRIP_FORM
	    WHERE (
	    		(FIRST_APPLY_NO = #{loginMemberNo} AND FIRST_STATUS = 2)
		        OR (MID_APPLY_NO = #{loginMemberNo} AND MID_STATUS = 2)
		        OR (LAST_APPLY_NO = #{loginMemberNo} AND LAST_STATUS = 2)
	    	   ) 
	    AND CATEGORY_NO = 1
	    AND DEL_YN = 'N'
	    ORDER BY NO DESC
	</select>
	
   	<!-- 출장신청서 조회 -->
 	<select id="list" resultType="BusinessTripFormVo">
	 	SELECT 
	 		B.NO
	 		, B.WRITER_NO
	 		, B.FIRST_APPLY_NO
	 		, B.MID_APPLY_NO
	 		, B.LAST_APPLY_NO
	 		, B.CATEGORY_NO
	 		, D.CATEGORY
	 		, B.START_TIME
	 		, B.FINISH_TIME
	 		, B.CONTENT
	 		, B.TO_CHAR(WRITE_DATE, 'YYYY-MM-DD') AS WRITE_DATE
    		, B.TO_CHAR(DOCUMENT_DATE, 'YYYY-MM-DD') AS DOCUMENT_DATE
	 		, B.REJECTION
	 	FROM BUSINESS_TRIP_FORM B
	 	JOIN DOCUMENT_CATEGORY D ON B.CATEGORY_NO = D.NO
	    WHERE WRITER_NO = #{writerNo}
	    AND DEL_YN = 'N'
	    ORDER BY NO DESC
 	</select>
 	
     <!-- 출장신청서 등록 -->
 	<insert id="insert">
 	INSERT INTO BUSINESS_TRIP_FORM 
 	(
 		NO
 		, WRITER_NO
 		, FIRST_APPLY_NO
 		, MID_APPLY_NO
 		, LAST_APPLY_NO
 		, START_TIME
 		, FINISH_TIME
 		, CONTENT
 		, WRITE_DATE
 	)
    VALUES 
    (
        SEQ_BUSINESS_TRIP_FORM_NO.NEXTVAL
        ,#{writerNo}
        ,#{firstApplyNo}
        ,#{midApplyNo}
        ,#{lastApplyNo}
      	,TO_DATE(#{startTime}, 'YYYY-MM-DD')
       	,TO_DATE(#{finishTime}, 'YYYY-MM-DD')
        ,#{content}
        ,SYSDATE
    )
 	</insert>
 	
 	<!-- 출장신청서 반려 -->
 	<update id="rejection" parameterType="BusinessTripFormVo">
 	  UPDATE BUSINESS_TRIP_FORM 
 	  	SET CATEGORY_NO = 
                        (
                        SELECT NO 
                        FROM DOCUMENT_CATEGORY 
                        WHERE NO = #{no}
                        )
    		DOCUMENT_DATE = SYSDATE,
	        REJECTION = #{rejection},
	        FIRST_STATUS = CASE WHEN FIRST_APPLY_NO = #{loginMemberNo} THEN 3 ELSE FIRST_STATUS END,
	        MID_STATUS = CASE WHEN MID_APPLY_NO = #{loginMemberNo} THEN 3 ELSE MID_STATUS END,
	        LAST_STATUS = CASE WHEN LAST_APPLY_NO = #{loginMemberNo} THEN 3 ELSE LAST_STATUS END
    	WHERE NO = #{no}
    	AND (
            FIRST_APPLY_NO = #{loginMemberNo}
            OR MID_APPLY_NO = #{loginMemberNo}
            OR LAST_APPLY_NO = #{loginMemberNo}
        	)	
 	</update>

 	 <!-- 출장신청서 삭제 -->
 	<update id="delete">
	 	 UPDATE BUSINESS_TRIP_FORM 
	 	 	SET DEL_YN = 'Y' 
	 	 WHERE NO = #{no}
	 	 AND WRITER_NO = #{writerNo}
 	</update>
 	
 	<!-- 출장신청서 개수 조회 -->
 	<select id="getListCount" resultType="int" parameterType="String">
    	SELECT COUNT(*) 
    	FROM BUSINESS_TRIP_FORM 
    	WHERE WRITER_NO = #{writerNo}
    	AND DEL_YN = 'N'
	</select>
	
 	<select id="listPaged" resultType="BusinessTripFormVo" parameterType="com.groupworks.app.page.vo.PageVo">
    SELECT *
    FROM (
        SELECT ROW_NUMBER() OVER (ORDER BY B.NO DESC) AS rnum, B.*
        FROM BUSINESS_TRIP_FORM B
        WHERE B.WRITER_NO = #{writerNo} 
	    AND DEL_YN = 'N'
    ) WHERE rnum BETWEEN #{startRow} AND #{lastRow}
	</select>
	
	<!-- 승인자로 선택된 휴가신청서 전체 조회  -->
 	<select id="getApplyListCount" resultType="int" parameterType="String">
    	SELECT COUNT(*) 
    	FROM BUSINESS_TRIP_FORM 
    	WHERE (FIRST_APPLY_NO = #{loginMemberNo}
        OR MID_APPLY_NO = #{loginMemberNo}
        OR LAST_APPLY_NO = #{loginMemberNo})
        AND DEL_YN = 'N'
        AND CATEGORY_NO = 1
	</select>
	
	<!-- 승인대기목록 페이징  -->
 	<select id="applyListPage" resultType="BusinessTripFormVo" parameterType="com.groupworks.app.page.vo.PageVo">
    SELECT *
    FROM (
        SELECT ROW_NUMBER() OVER (ORDER BY NO DESC) AS rnum, B.*
        FROM BUSINESS_TRIP_FORM B
        WHERE B.DEL_YN = 'N'
          AND B.CATEGORY_NO = 1
	      AND (
	        (B.FIRST_APPLY_NO = #{loginMemberNo} AND B.FIRST_STATUS != 2) 
	        OR (B.MID_APPLY_NO = #{loginMemberNo} AND B.MID_STATUS != 2)
	        OR (B.LAST_APPLY_NO = #{loginMemberNo} AND B.LAST_STATUS != 2)
	      )
    ) WHERE rnum BETWEEN #{startRow} AND #{lastRow}
	</select>
	
	<select id="selectList" resultType="BusinessTripFormVo">
		SELECT 
			NO
			, WRITER_NO
			, FIRST_APPLY_NO
			, MID_APPLY_NO
			, LAST_APPLY_NO
			, START_TIME
			, FINISH_TIME
			, CONTENT
			, WRITE_DATE
			, FIRST_STATUS
			, MID_STATUS
			, LAST_STATUS
			, REJECTION
		FROM BUSINESS_TRIP_FORM
		WHERE NO = #{no}
		AND CATEGORY_NO = 1
	</select>
	
	<update id="updateStatus" parameterType="BusinessTripFormVo">
		UPDATE BUSINESS_TRIP_FORM
		<set>
			<if test="firstApplyNo == loginMemberNo">
				FIRST_STATUS = 2
			</if>
			<if test="midApplyNo == loginMemberNo">
				MID_STATUS = 2
			</if>
			<if test="lastApplyNo == loginMemberNo">
				LAST_STATUS = 2
			</if>
		</set>
			WHERE NO = #{no}
	</update>
 	
 	<update id="endApply" parameterType="map">
		UPDATE BUSINESS_TRIP_FORM 
			SET CATEGORY_NO = 2, DOCUMENT_DATE = SYSDATE 
			WHERE NO = #{no}
	</update>
	
	<update id="updateRejection" parameterType="BusinessTripFormVo">
		UPDATE BUSINESS_TRIP_FORM
		<set>
			<if test="firstApplyNo == loginMemberNo">
				FIRST_STATUS = 3
			</if>
			<if test="midApplyNo == loginMemberNo">
				MID_STATUS = 3
			</if>
			<if test="lastApplyNo == loginMemberNo">
				LAST_STATUS = 3
			</if>
		</set>
			WHERE NO = #{no}
	</update>
	
	<update id="endRejection" parameterType="BusinessTripFormVo">
		UPDATE BUSINESS_TRIP_FORM
			SET CATEGORY_NO = 3
			, DOCUMENT_DATE = SYSDATE
			, REJECTION = #{rejection}
			WHERE NO = #{no}
	</update>
 	
</mapper>