<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
    <!--    회원가입    -->
    <insert id="signup">
        INSERT INTO MEMBER
        (
            NO
            ,NAME
            ,ID
            ,PWD
            ,EMAIL
            ,TEL
            ,ADDRESS
            ,DEPART_NO
            ,COMPANY_NO
            ,POSITION_NO
        )
        VALUES
        (
            SEQ_MEMBER_NO.NEXTVAL
            ,{name}
            ,{id}
            ,{pwd}
            ,{email}
            ,{tel}
            ,{address}
            ,(
                SELECT NO
                FROM DEPARTMENT
                WHERE NAME = {departName}
             )
            ,(
                SELECT NO
                FROM COMPANY
                WHERE NAME = {companyName}
             )
            ,(
                SELECT NO
                FROM POSITION
                WHERE NAME = {positionName}
             )
        )
    </insert>

    <!--    로그인    -->
    <select id="login" resultType="MemberVo">
        SELECT
        NO
        , NAME
        , ID
        , PWD
        , EMAIL
        , TEL
        , ADDRESS
        , ANNUAL
        , AUTH_NO
        , DEPART_NO
        , COMPANY_NO
        , POSITION_NO
        , WORK_STATUS_NO
        , DEL_YN
        FROM MEMBER
        WHERE ID = {id}
        AND PWD = {pwd}
    </select>

    <!--    연차수정    -->
    <update id="editAnnual">
        UPDATE MEMBER
        SET
        ANNUAL = {annual}
        WHERE NO = {no}
    </update>

    <!--    근태상태변경    -->
    <update id="editWorkStatus">
        UPDATE MEMBER
        SET
        WORK_STATUS_NO = (
                            SELECT NO
                            FROM WORK_STATUS
                            WHERE STATUS = {status}
                         )
        WHERE NO = {no}
    </update>

    <!--    권한변경    -->
    <update id="editAuth">
        UPDATE MEMBER
        SET
        AUTH_NO = {authNo}
        WHERE NO = {no}
    </update>

    <!--    회사추가    -->
    <insert id="insertCompany">
        INSERT INTO COMPANY
        (
            NO
            , NAME
            , MANAGER_NO
        )
        VALUES
        (
            SEQ_COMPANY_NO.NEXTVAL
            , {companyName}
            , {no}
        )
    </insert>

</mapper>