<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MessageMapper">
   
   
   <!-- 메세지 조회 -->
   <select id="SelectMsg" resultType="MessageVo">
	   SELECT * 
	   FROM MESSAGE 
	   WHERE DEL_YN = 'N' 
	   AND SEND_NO = #{sendNo}
   </select>
   
    <!-- 메세지보내기 -->
 	<insert id="SendMsg">
 		INSERT INTO MESSAGE 
 			(
 			NO
 			,SEND_NO
 			,RECIEVE_NO
 			,CONTENT
 			,SEND_DATE
 			,DEL_YN
 			) 
    	VALUES 
    		(
    		#{no}
    		, #{sendNo}
    		, #{recieveNo}
    		, #{content}
    		, SYSDATE
    		, 'N'
    		)
 	</insert>
 	
 	 <!-- 메세지답장 -->
 	<insert id="ReSendMsg">
	 	INSERT INTO MESSAGE 
	 		(
	 		NO
	 		,SEND_NO
	 		,RECIEVE_NO
	 		,CONTENT
	 		,SEND_DATE
	 		,DEL_YN) 
		VALUES 
		(
	    	#{no}
	    	,#{recieveNo}
	    	,#{sendNo}
	    	,#{content}
	    	,SYSDATE
	    	, 'N'
	    )
 	</insert>
 	
 	<!-- 메세지삭제 -->
 	<update id="QuitMsg">
 		UPDATE MESSAGE 
		    SET DEL_YN = 'Y'
		    , DELETE_DATE = SYSDATE 
	    WHERE NO = #{no} 
	    AND RECVE_NO = #{recieveNo};
 	</update>
 	
 	
</mapper>