<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrganMapper">

<!-- 조직도 생성 -->
	<insert id="insert">
		INSERT INTO ORGAN(
		    ORG_NO
		    , MEMBER_NO
		    , NAME
		    , PROFILE
		    , ID
		    , EMAIL
		    , TEL
		    , ADDRESS
		    )
		VALUES (
		    SEQ_ORGAN_NO.NEXTVAL
		    , #{memberNo}
		    , #{name}
		    , #{profile}
		    , #{id}
		    , #{email}
		    , #{tel}
		    , #{address}
		    )	
	</insert>
	
<!-- 	전체 목록 조회 -->
<!-- 	<select id="list" resultType="com.groupworks.app.organ.vo.OrganVo"> -->
<!-- 		SELECT -->
<!-- 		    ORG_NO -->
<!-- 		    , MEMBER_NO -->
<!-- 		    , PROFILE -->
<!-- 		    , DEPARTMENT -->
<!-- 		    , POSITION -->
<!-- 		    , NAME -->
<!-- 		    , TEL -->
<!-- 		FROM ORGAN -->
<!-- 		WHERE DELETE_YN = 'N' -->
<!-- 		ORDER BY ORG_NO DESC -->
<!-- 	</select> -->
	<select id="list" resultType="com.groupworks.app.organ.vo.OrganVo">
<!-- 		SELECT -->
<!-- 		    NO -->
<!-- 		    , NAME -->
<!-- 		    , DEPART_NO -->
<!-- 		    , POSITION_NO -->
<!-- 		    , TEL -->
<!-- 		    , EMAIL -->
<!-- 		FROM MEMBER -->
<!-- 		WHERE DEL_YN = 'N' -->
<!-- 		AND DEPART_NO = #{departNo} -->
<!-- 		AND COMPANY_NO = #{companyNo} -->
<!-- 		ORDER BY NO DESC -->
		SELECT
		    ORG_NO
		    , MEMBER_NO
		    , NAME
		    , PROFILE
		    , ID
		    , EMAIL
		    , TEL
		    , ADDRESS
		    , DEPART_NO
		    , COMPANY_NO
		    , POSITION_NO
		FROM ORGAN
		WHERE DELETE_YN = 'N'
		AND COMPANY_NO = #{companyNo}
		ORDER BY ORG_NO DESC
	</select>
	
	<select id="detail" resultType="com.groupworks.app.organ.vo.OrganVo">
		SELECT
		    ORG_NO
		    , MEMBER_NO
		    , PROFILE
		    , DEPARTMENT
		    , POSITION
		    , NAME
		    , TEL
		FROM ORGAN
		WHERE MEMBER_NO = #{memberNo}
		AND DELETE_YN = 'N'
	</select>
	
<!-- 	수정 -->
	<update id="edit">
		UPDATE ORGAN
		SET
		<trim prefixOverrides=",">
		<if test=" name != null and name != '' ">
			NAME = #{name}
		</if>
		<if test=" departNo != null and departNo != '' ">
		    , DEPART_NO = #{departNo}
		</if>
		<if test=" positionNo != null and positionNo != '' ">
		    , POSITION_NO = #{positionNo}
	    </if>
	    <if test=" tel != null and tel != '' ">
		    , TEL = #{tel}
	    </if>
	    <if test=" email != null and email != '' ">
		    , EMAIL = #{email}
	    </if>
	    <if test=" profile != null and profile != '' ">
		    , PROFILE = #{profile}
	    </if>
	    </trim>
		WHERE ORG_NO = #{orgNo}
		AND DELETE_YN = 'N'
	</update>
	
<!-- 	삭제 -->
	<update id="delete">
		UPDATE ORGAN
		SET DELETE_YN = 'Y'
		WHERE ORG_NO = #{orgNo}
	</update>
</mapper>










