<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PayFormMapper">

   	<!-- 지출결의서 조회 -->
 	<select id="list" resultType="PayFormVo">
	 	SELECT 
	 		NO
	 		, WRITER_NO
	 		, FIRST__APPLY_NO
	 		, MID_APPLY_NO
	 		, LAST_APPLY_NO
	 		, CATEGORY_NO
	 		, TITLE
	 		, WRITE_DATE
	 		, DOCUMENT_DATE
	 		, REJECTION 
	 	FROM PAY_FORM 
	    WHERE WRITER_NO = #{no}
	    AND DEL_YN = 'N'
 	</select>
 	
 	<!-- 지출결의서 결재대기 조회 -->
 	<select id="selectIng" resultType="PayFormVo">
	 	 SELECT 
	 	 	NO
	 		, WRITER_NO
	 		, FIRST__APPLY_NO
	 		, MID_APPLY_NO
	 		, LAST_APPLY_NO
	 		, CATEGORY_NO
	 		, TITLE
	 		, WRITE_DATE
	 		, DOCUMENT_DATE
	 		, REJECTION 
	 	 FROM PAY_FORM 
	 	 WHERE CATEGORY_NO = 
	 	 					(
	 	 					SELECT NO 
	 	 					FROM DOCUMENT_CATEGORY 
	 	 					WHERE NO = 1
	 	 					)
	  	 AND DEL_YN = 'N'
	</select>

		<!-- 지출결의서 결재완료 조회 -->
 	<select id="selectEd" resultType="PayFormVo">
	 	 SELECT 
	 	 	NO
	 		, WRITER_NO
	 		, FIRST__APPLY_NO
	 		, MID_APPLY_NO
	 		, LAST_APPLY_NO
	 		, CATEGORY_NO
	 		, TITLE
	 		, WRITE_DATE
	 		, DOCUMENT_DATE
	 		, REJECTION 
	 	 FROM PAY_FORM 
	 	 WHERE CATEGORY_NO IN 
	 	 					(
	 	 					SELECT NO 
	 	 					FROM DOCUMENT_CATEGORY 
	 	 					WHERE NO IN (2, 3)
	 	 					)
	  	 AND DEL_YN = 'N'
	</select>
	
    <!-- 지출결의서 등록 -->
 	<insert id="insert">
	 	INSERT INTO PAY_FORM 
		 	(
		 	NO
		 	,PAY_NO
		 	,WRITER_NO
		 	,FIRST_APPLY_NO
		 	,MID_APPLY_NO
		 	,LAST_APPLY_NO
		 	,CATEGORY_NO
		 	,START_TIME
		 	,FINISH_TIME
		 	,CONTENT
		 	,WRITE_DATE
		 	)
	    VALUES 
	    	(
	        SEQ_PAY_FORM_NO.NEXTVAL
	        ,#{payNo}
	        ,#{writerNo}
	        ,#{firstApplyNo}
	        ,#{midApplyNo}
	        ,#{lastApplyNo}
	        ,#{categoryNo}
	        ,#{startTime}
	        ,#{finishTime}
	        ,#{content}
	        ,#{writeDate}
	    	)
 	</insert>
 	
 	<!-- 지출결의서 승인 -->
 	<update id="apply">
	 	 UPDATE PAY_FORM 
	 	 	SET CATEGORY_NO = 
		                      (
		                      SELECT NO 
		                      FROM DOCUMENT_CATEGORY 
		                      WHERE NO = 2
		                      )
	    , DOCUMENT_DATE = SYSDATE
	    WHERE NO = #{no}
	 </update>
 	
 	<!-- 지출결의서 반려 -->
 	<update id="rejection">
 		 UPDATE PAY_FORM 
 		 	SET CATEGORY_NO = 
		                      (
		                      SELECT NO 
		                      FROM DOCUMENT_CATEGORY 
		                      WHERE NO = 3
		                      )
		, DOCUMENT_DATE = SYSDATE
	    , REJECTION = #{rejection} 
	    WHERE NO = #{no}
 	</update>

 	 <!-- 지출결의서 삭제 -->
 	<update id="delete">
 		UPDATE PAY_FORM 
 			SET DEL_YN = 'Y' 
 		WHERE NO = #{no}
 	</update>
 	
</mapper>