<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TodoMapper">
   	
   	<!-- 할일등록 -->
 	<insert id="AddTodo"></insert>
 	
 	<!-- 할일수정 -->
 	<update id="EditTodo"></update>
 	
 	<!-- 할일삭제 -->
 	<update id="QuitTodo"></update>
 
</mapper>