<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="VacationFormMapper">

	<select id="member" resultType="com.groupworks.app.member.vo.MemberVo">
		SELECT
			M.NO
			,M.NAME			AS NAME
			,M.AUTH_NO
			,M.COMPANY_NO
			,A.NAME			AS AUTHORITY_NAME
		FROM MEMBER M
		JOIN AUTHORITY A ON A.NO = M.AUTH_NO
		WHERE M.COMPANY_NO = #{companyNo}
		AND M.AUTH_NO != 3
	</select>

    <!-- 휴가신청서 조회 -->
 	<select id="list" resultType="VacationFormVo">
	 	SELECT 
	 		NO
	 		, VACATION_NO
	 		, WRITER_NO
	 		, FIRST_APPLY_NO
	 		, MID_APPLY_NO
	 		, LAST_APPLY_NO
	 		, CATEGORY_NO
	 		, START_TIME
	 		, FINISH_TIME
	 		, CONTENT
	 		, WRITE_DATE
	 		, DOCUMENT_DATE
	 		, REJECTION
	 	FROM VACATION_FORM 
		WHERE WRITER_NO = #{writerNo}
		AND DEL_YN = 'N'
 	</select> 
 	
 	<!-- 휴가신청서 결재대기 조회 -->
 	<select id="selectIng" resultType="VacationFormVo">
	 	 SELECT
	 	 	NO
	 		, VACATION_NO
	 		, WRITER_NO
	 		, FIRST_APPLY_NO
	 		, MID_APPLY_NO
	 		, LAST_APPLY_NO
	 		, CATEGORY_NO
	 		, START_TIME
	 		, FINISH_TIME
	 		, CONTENT
	 		, WRITE_DATE
	 		, DOCUMENT_DATE
	 		, REJECTION
	 	 FROM VACATION_FORM 
	 	 WHERE CATEGORY_NO = 
	 	 					(
	 	 					SELECT NO 
	 	 					FROM DOCUMENT_CATEGORY 
	 	 					WHERE NO = 1
	 	 					)
	  	 AND DEL_YN = 'N'
	</select>

		<!-- 휴가신청서 결재완료 조회 -->
 	<select id="selectEd" resultType="VacationFormVo">
	 	 SELECT 
	 	 	NO
	 		, VACATION_NO
	 		, WRITER_NO
	 		, FIRST_APPLY_NO
	 		, MID_APPLY_NO
	 		, LAST_APPLY_NO
	 		, CATEGORY_NO
	 		, START_TIME
	 		, FINISH_TIME
	 		, CONTENT
	 		, WRITE_DATE
	 		, DOCUMENT_DATE
	 		, REJECTION 
	 	 FROM VACATION_FORM 
	 	 WHERE CATEGORY_NO IN
	 	 					(
	 	 					SELECT NO 
	 	 					FROM DOCUMENT_CATEGORY 
	 	 					WHERE NO IN (2, 3)
	 	 					)
	  	 AND DEL_YN = 'N'
	</select>
	
    <!-- 휴가신청서 등록 -->
 	<insert id="insert">
	 	INSERT INTO VACATION_FORM 
	 	(
	 		NO
	 		,VACATION_NO
	 		,WRITER_NO
	 		,FIRST_APPLY_NO
	 		,MID_APPLY_NO
	 		,LAST_APPLY_NO
	 		,CATEGORY_NO
	 		,START_TIME
	 		,FINISH_TIME
	 		,CONTENT
	 		,WRITE_DATE
	 	)
		VALUES 
		(
		    SEQ_VACATION_FORM_NO.NEXTVAL
		    ,#{vacationNo}
		    ,#{writerNo}
		    ,#{firstApplyNo}
		    ,#{midApplyNo}
		    ,#{lastApplyNo}
		    ,#{categoryNo}
			,TO_DATE(#{startTime}, 'YYYY-MM-DD')
        	,TO_DATE(#{finishTime}, 'YYYY-MM-DD')
		    ,#{content}
		    ,SYSDATE
		)
 	</insert>
 	
 	<!-- 휴가신청서 승인 -->
 	<update id="apply">
	 	UPDATE VACATION_FORM 
	    SET CATEGORY_NO = 
	                      (
	                      SELECT NO 
	                      FROM DOCUMENT_CATEGORY 
	                      WHERE NO = 2
	                      ) 
	    , DOCUMENT_DATE = SYSDATE
	    WHERE NO = #{no}
 	</update>
 	
 	<!-- 휴가신청서 반려 -->
 	<update id="rejection">
	 	UPDATE VACATION_FORM 
	    SET CATEGORY_NO = 
	                      (
	                      SELECT NO 
	                      FROM DOCUMENT_CATEGORY 
	                      WHERE NO = 3
	                      ) 
	    , DOCUMENT_DATE = SYSDATE
	    , REJECTION = #{rejection} 
	    WHERE NO = #{no}
 	</update>

 	 <!-- 휴가신청서 삭제 -->
 	<update id="delete">
	 	UPDATE VACATION_FORM 
	 		SET DEL_YN = 'Y' 
	 	WHERE NO = #{no}
 	</update>
 	
</mapper>