<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.groupworks.app.member.vo.MemberVo" alias="MemberVo"/>
        <typeAlias type="com.groupworks.app.member.vo.AuthVo" alias="AuthVo"/>
        <typeAlias type="com.groupworks.app.member.vo.DepartVo" alias="DepartVo"/>
        <typeAlias type="com.groupworks.app.member.vo.CompanyVo" alias="CompanyVo"/>
        <typeAlias type="com.groupworks.app.member.vo.PositionVo" alias="PositionVo"/>
        <typeAlias type="com.groupworks.app.member.vo.WorkStatusVo" alias="WorkStatVo"/>
    </typeAliases>

</configuration>